
.sort-button {
    margin-left: 23%;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #001D5F;
    color: white;
    border: none;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #004080;
}
