<div class="container">
  <div class="form-container">

    <div class="combo-box">
      <label class="combo-label" (click)="isOpen = !isOpen">
        {{ selectedItem ? selectedItem.name : 'Seleccione un fondo' }}
        <i class="bi bi-chevron-down chevron-icon" [ngClass]="{'rotate': isOpen}"></i>
      </label>
  
      <div class="opcions" *ngIf="isOpen">
        <div *ngFor="let item of data" (click)="onSelect(item)">
          {{ item.name }}
        </div>
      </div>

      <input class="subscribe-input" 
        placeholder="Monto" 
        type="number" 
        [(ngModel)]="amount" 
        [disabled]="!selectedItem">
    </div>
  </div>
  
  <div class="button">
    <div class="button-container"> 
      <button class="custom-subscribe-button" (click)="subscribe()">
        <span class="button-text">Suscribirse</span>
      </button>
    </div>
  </div>
</div>
