
@import '../../../util/table-styles.scss';
@import '../../../util/button-styles.scss';
@import '../../../util/checkbox-styles.scss';
.fund__title {
    padding: 20px 40px; 
    margin-left: 23%;
    font-size: 45px;
    font-weight: bold;
    color: #001D5F;
    margin-bottom: 5px;
    margin-top: 10px;
}
.filter {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 72vw;
  width: 350px;
  align-items: center;
}