<app-menu></app-menu>
<h2 class="fund__title">Fondos</h2>
<app-loading *ngIf="isLoading"></app-loading>
<app-form [data]="funds"></app-form>
<div class="filter">
  <div class="checkbox-wrapper-4">
    <input 
      class="inp-cbx" 
      id="morning" 
      type="checkbox" 
      (change)="toggleFilterByCategory($event)">
    <label class="cbx" for="morning">
      <span>
        <svg width="12px" height="10px"></svg>
      </span>
      <span>Filtrado por categoria</span>
    </label>
    <svg class="inline-svg">
      <symbol id="check-4" viewBox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </symbol>
    </svg>
  </div>
  <div class="checkbox-wrapper-10" *ngIf="filterByCategory">
    <input 
      [checked]="isChecked" 
      type="checkbox" 
      id="cb5" 
      class="tgl tgl-flip" 
      (change)="toggleSwitch($event)">
    <label for="cb5" data-tg-on="FVP" data-tg-off="FIC" class="tgl-btn"></label>
  </div>
</div>
<app-order [isAsc]="isAsc" (toggleSortOrder)="toggleSortOrder()"></app-order>

<div *ngIf="!isLoading" class="table-container">
  
  <table  class="table">
    <thead>
      <tr>
        <th (click)="sortBy('name')" [class.active]="orderByName">Nombre</th>
        <th (click)="sortBy('minimumAmount')" [class.active]="!orderByName">Monto Mínimo</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fund of funds">
        <td>{{ fund.name }}</td>
        <td>{{ fund.minimumAmount | currency }}</td>
        <td>{{ fund.category }}</td>
        
      </tr>
    </tbody>
  </table>
</div>



