<app-menu></app-menu>
<h2 class="fund__title">{{labels.TITLE}}</h2>
<app-loading *ngIf="isLoading"></app-loading>
<app-form [data]="funds"></app-form>
<app-filter 
  [isChecked]="isChecked"
  [filterByCategory]="filterByCategory"
  [labels]="labels"
  (filterChange)="onFilterChange($event)"
  (switchChange)="onSwitchChange($event)">
</app-filter>


<app-order [isAsc]="isAsc" (toggleSortOrder)="toggleSortOrder()"></app-order>

<div *ngIf="!isLoading" class="table-container">
  
  <table  class="table">
    <thead>
      <tr>
        <th (click)="sortBy('name')" [class.active]="orderByName">{{labels.NAME}}</th>
        <th (click)="sortBy('minimumAmount')" [class.active]="!orderByName">{{labels.MINIMUM_AMOUNT}}</th>
        <th>{{labels.CATEGORY}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fund of funds">
        <td>{{ fund.name }}</td>
        <td>{{ fund.minimumAmount | currency }}</td>
        <td>{{ fund.category }}</td>
        
      </tr>
    </tbody>
  </table>
</div>



