<nav class="nav"> 
    <img class="nav__logo" src="assets/images/Btg-logo-blue.svg" alt="Logo Btg">
    <img class="nav__perfil" src="assets/images/person-circle.svg" alt="Perfil">
    <ul class="nav__items">
        <li class="nav__li" routerLink="/home" routerLinkActive="active-router">
            <p class="nav__text">{{name}}</p>
        </li>
        <li class="nav__li" routerLink="/library" routerLinkActive="active-router">
            <p class="nav__text">Fondos</p>
        </li>
    </ul>
</nav>
