.nav {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 30%; 
  height: 100vh; 
  position: fixed; 
  top: 0; 
  background-color: #CBDEF7;
  overflow: hidden;
}

.nav__logo {
  width: 190px;
  margin-top: 10px;
}

.nav__perfil {
  width: 120px; 
  height: 120px; 
  margin-top: 25px;
  margin-bottom: 20px;
}

.nav__items {
  width: 100%;
  margin-top: 10%;
  list-style: none; 
  padding: 0px;
}

.nav__li {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 10px 0px; 
  margin-bottom: 10px;
  border-radius: 50px; 
  cursor: pointer;
  text-decoration: none;
  &:hover { 
    background-color: #001D5F; 
    color: white;
    font-weight: bold;    
  } 
}

.active-router {
  background-color: #001D5F; 
  font-weight: bold;
  border-radius: 50px; 
  color: white; 
}

.nav__text--icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


.notification {
  display: flex; 
  align-items: center; 
}

.sms, .email {
  margin: 0 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  font-weight: bold;
}
.sms{
  background-color:#001D5F; 
  color: white;

}
.email {
  background-color: #619df0;
  color: white;
}

.notification__text{
  font-size: 16px;
  color: #001D5F;
  font-weight: bold;

}
